In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header =0 )

In [3]:
df=d[0]

In [4]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
df1 = df[ df['Borough'] == 'Not assigned' ].index
df.drop(df1 , inplace=True)
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [6]:
# Renaming the columns
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
# Extracting Table that has an assigned borrow
df= df[df['Borough'] != 'Not assigned']
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [7]:
# Group by postcode
df1 = df.groupby('PostalCode')
#  These are the keys by which the table is grouped
df1.groups.keys()

dict_keys(['M1B', 'M1C', 'M1E', 'M1G', 'M1H', 'M1J', 'M1K', 'M1L', 'M1M', 'M1N', 'M1P', 'M1R', 'M1S', 'M1T', 'M1V', 'M1W', 'M1X', 'M2H', 'M2J', 'M2K', 'M2L', 'M2M', 'M2N', 'M2P', 'M2R', 'M3A', 'M3B', 'M3C', 'M3H', 'M3J', 'M3K', 'M3L', 'M3M', 'M3N', 'M4A', 'M4B', 'M4C', 'M4E', 'M4G', 'M4H', 'M4J', 'M4K', 'M4L', 'M4M', 'M4N', 'M4P', 'M4R', 'M4S', 'M4T', 'M4V', 'M4W', 'M4X', 'M4Y', 'M5A', 'M5B', 'M5C', 'M5E', 'M5G', 'M5H', 'M5J', 'M5K', 'M5L', 'M5M', 'M5N', 'M5P', 'M5R', 'M5S', 'M5T', 'M5V', 'M5W', 'M5X', 'M6A', 'M6B', 'M6C', 'M6E', 'M6G', 'M6H', 'M6J', 'M6K', 'M6L', 'M6M', 'M6N', 'M6P', 'M6R', 'M6S', 'M7A', 'M7R', 'M7Y', 'M8V', 'M8W', 'M8X', 'M8Y', 'M8Z', 'M9A', 'M9B', 'M9C', 'M9L', 'M9M', 'M9N', 'M9P', 'M9R', 'M9V', 'M9W'])

In [8]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood']

# instantiate the dataframe
final = pd.DataFrame(columns=column_names)

In [9]:
final

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [10]:
df1.get_group('M5G')

   PostalCode           Borough        Neighborhood
57        M5G  Downtown Toronto  Central Bay Street

In [11]:
#This function return the borough as well as Neighbor hood for each group combined or joined with comma.
def add_comma_neighbor(grp):
    return df1.get_group(grp)['Borough'].iloc[0], ", ".join(df1.get_group(grp)['Neighborhood'])

In [12]:
for grp in df1.groups.keys():
    borough, neighbor = add_comma_neighbor(grp)
    final = final.append({'PostalCode' : grp,'Borough': borough,'Neighborhood': neighbor}, ignore_index=True)                                 
final.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [13]:
# Lets verify our results
final[final['PostalCode'] == "M9V"]

    PostalCode    Borough                                       Neighborhood
101        M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...

In [14]:
final.shape

(103, 3)